extends layout.pug

block append styles
  link(rel='stylesheet' href='/styles/keyword.css')

block append content
  div(id='timeline')
    h5 Mentions for: #[span(id='keyword') #{keyword}]
    canvas(id='canvas')

  div(id='articles')
    each date in Object.keys(collection)
      h5(id=date)= date
      each article in collection[date]
        h6
          a(class='title', href=article.url, target='_blank')
            = article.title
        if (article.description)
          p= article.description

block scripts
  script window.collection = !{JSON.stringify(collection)}
  script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js')
  script(src='/scripts/timeline.js')

